* {
  background-color: #f3f3f3;
  font-family: Roboto, sans-serif;
}
.description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #0f0202;
  font-size: 18px;
}
.name,
.price {
  font-family: Zurich, sans-serif !important;
}
.price {
  font-size: 25px;
}
input[type="date"] {
  border: 1px solid #222;
  min-height: 44px;
  font-size: 18px;
  padding: 8px 10px;
  margin-bottom: 10px;
}
label {
  margin-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: none;
  cursor: pointer;
}
.shipping {
  font-size: 18px;
  margin-bottom: 10px;
}

#messageOnCard {
  width: 50%;
  height: 66px;
  border: 1px solid #222;
  background-color: transparent;
}
.flowerImage {
  text-align: center;
  margin-top: 19px;
  margin-bottom: 15px;
}
button {
  display: block;
  text-transform: uppercase;
  margin: 15px;
  margin-left: 0px;
  border-radius: 2px;
  padding: 8px 20px;
  border: 2px solid #9c756f;
}
button:hover {
  border-color: #9c756f;
}
.addToCart {
  background-color: #f3f3f3;
  color: #9c756f;
}
.BuyNow {
  background-color: #9c756f;
  color: #fff;
  padding: 8px 31px;
}
.BuyNow:hover {
  opacity: 0.6;
  border-color: #9c756f;
}
.updateButton,
.deleteButton {
  display: inline-block;
  color: #000 !important;
}
