<footer class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-sm-3">
        <h3>Explore</h3>
        <ul>
          <li>
            <a href="https://florista.in/pages/payment-policy"
              >Payment Policy</a
            >
          </li>
          <li>
            <a href="https://florista.in/pages/privvacy-policy"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="https://florista.in/pages/terms-ans-conditions"
              >Terms and condition</a
            >
          </li>
          <li>
            <a href="https://florista.in/pages/refund-cancellations"
              >Refund and returns</a
            >
          </li>
          <li>
            <a href="https://florista.in/policies/terms-of-service"
              >Terms of Service</a
            >
          </li>
          <li>
            <a href="https://florista.in/policies/refund-policy"
              >Refund Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h3>Get in touch</h3>
        <p>For flowers and surprises,</p>
        <p>
          <strong>
            Call us on: +91 9833567045 / 9029948000
            <br />
            Email: contact@florista.in
          </strong>
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="socialmediaicons">
        <ul>
          <li><a href="https://florista.in/" class="fa fa-facebook"></a></li>
          <li><a href="https://florista.in/" class="fa fa-twitter"></a></li>
          <li><a href="https://florista.in/" class="fa fa-instagram"></a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-5 bottomFooter">
        <ul>
          <li>
            © 2021
            <a href="https://florista.in/">florista-in</a>
          </li>
          <li>This site is intended for demonstration purpose only</li>
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</footer>
