<div class="login">
  <div class="loginForm">
    <h1>Login</h1>
    <form (submit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <input
          type="email"
          ngModel
          class="form-control"
          placeholder="Email"
          name="email"
          #emailInput="ngModel"
          required
          email
        />
        <div class="alert alert-danger" role="alert" *ngIf="emailInput.invalid">
          Please enter valid email
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          ngModel
          class="form-control"
          placeholder="Password"
          #pwdInput="ngModel"
        />
        <div class="alert alert-danger" role="alert" *ngIf="pwdInput.invalid">
          Please enter valid password
        </div>
      </div>
      <p><a href="">Forgot password?</a></p>
      <p><a routerLink="/signup">New User?</a></p>
      <div style="text-align: center">
        <button type="submit" class="loginbutton btn btn-default">Login</button>
      </div>
      <p>or <a routerLink="/">Return to store</a></p>
    </form>
  </div>
</div>
