<div class="alert alert-info" *ngIf="CartItems.length == 0">Cart is empty</div>
<ul class="list-group" *ngIf="CartItems.length > 0">
  <app-cartitem></app-cartitem>
  <li>Total:</li>
</ul>

<!-- 

<form
  (submit)="onSubmit(billingandPaymentForm)"
  #billingandPaymentForm="ngForm"
>
  <div class="form-group">
    <input
      type="text"
      ngModel
      class="form-control"
      placeholder="FirstName"
      name="FirstName"
      #nameInput="ngModel"
      required
    />
    <div class="alert alert-danger" role="alert" *ngIf="emailInput.invalid">
      Please enter valid FirstName
    </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      name="password"
      ngModel
      class="form-control"
      placeholder="Password"
      #pwdInput="ngModel"
    />
    <div class="alert alert-danger" role="alert" *ngIf="pwdInput.invalid">
      Please enter valid password
    </div>
  </div>
  <p><a href="">Forgot password?</a></p>
  <div style="text-align: center">
    <button type="submit" class="loginbutton btn btn-default">Login</button>
  </div>
</form> -->
