.item {
  max-height: 550px;
}
.container {
  padding-top: 25px;
}

img:hover {
  opacity: 0.8;
}
img {
  width: 250px;
  height: 250px;
}
.budget {
  padding: 15px;
}
.price {
  font-size: 20px;
  color: #545454;
}
a {
  color: #000;
}
