<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img
          src="../../assets/image2.jpg"
          alt="Los Angeles"
          style="width: 100%"
        />
      </div>

      <div class="item">
        <img
          src="../../assets/anniversary.jpg"
          alt="anniversary"
          style="width: 100%"
        />
      </div>

      <div class="item">
        <img
          src="../../assets/pinkandblue.jpg"
          alt="pinkandblue"
          style="width: 100%"
        />
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="budgetFriendly">
    <h2>Budget Friendly</h2>
    <div class="row budget">
      <div *ngFor="let flower of flowers; let i = index">
        <a [routerLink]="['/collections', flower.name]">
          <div
            *ngIf="flower.price <= maxPrice && i <= 8"
            [ngClass]="{ 'col-sm-3': i / 1 }"
          >
            <img [src]="flower.image" [alt]="flower.name" />
            <h3>{{ flower.name }}</h3>
            <p class="price">Rs.{{ flower.price }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="occassion">
    <h2>Valentines special</h2>
    <div class="row budget">
      <div *ngFor="let flower of flowers; let i = index">
        <a [routerLink]="['/collections', flower.name]">
          <div
            *ngIf="flower.occassion === 'Valentines' && i <= 3"
            [ngClass]="{ 'col-sm-3': i / 1 >= 0 }"
          >
            <img [src]="flower.image" [alt]="flower.name" />
            <h3>{{ flower.name }}</h3>
            <p class="price">Rs.{{ flower.price }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
